body {
	font-family: 'Open Sans', sans-serif;
  margin: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*===============  HEADER   ====================*/
.sticky_header {
    position: fixed;
    z-index: 999;
    width:100%;
}
.body_content {
    padding-top: 177px;
}
.header_top {
  background-color: #324A25;
  padding: 5px;
  text-align: right;
}

.header_top p {
  color: white;
  font-weight: lighter;
  display: inline-block;
  margin-right: 50px;
  font-size: 12px;
  transition: font-size .5s;
}

header {
  background-color: white;
  padding: 30px;
  box-shadow: 5px 2px 15px #00000021;
}

header img {
  width: 200px;
}

header #header-nav {
  position: absolute;
  top: 111px;
  left: 270px;
  width: 72%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
}
header #header-nav li {
    display: inline-block;
}

header #header-nav a, .header_dropdown a, .header_dropdown p {
  color: #334926;
  text-decoration: none;
  font-weight: 600;
  transition: font-size .5s;
}

header a,
.header_dropdown a{
  transition: scale .3s;
        text-transform: uppercase;
}

header a:hover {
  transform: scale(1.02);
}

#hamburger {
    display: none;
    position: absolute;
    right: 53px;
    top: 46px;
    cursor: pointer;
    z-index: 5;
    cursor: pointer;
}

 #hamburger:hover {
        cursor: pointer !important;
    }

.hamburger_line {
    width: 33px;
    background-color: #334926;
    margin: 8.9px 0;
    height: 2px;
    border-radius: 5px;
    transition: 0.4s;
}

.change1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change2 {
    opacity: 0;
}

.change3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.header_dropdown {
  position: absolute;
  background: #334926d9;
  top: 131px;
  width: 100%;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  display: none;
}
#mobile-nav {
    text-align: center;
}
.header_dropdown a, .header_dropdown p {
  padding: 0 30px;
  margin-bottom: 20px;
  margin-top: 0;
  color: white;
}
#mobile-nav li {
      padding: 0 30px;
  margin-bottom: 20px;
  margin-top: 0;
  color: white;
}
.header_dropdown p { 
  font-weight: lighter;
}

.header_dropdown .address {
  padding-top: 20px;
  border-top: 1px solid #ffffff4a;
}

.hero {
  height: 400px;
  /*background-size: cover;
  background-image: url('../images/hero.png');
  background-position: center;*/
}

.home_hero {
  background-size: cover;
  background-image: url('../images/homeHero.gif');
  background-position: center bottom;
}

/*.slick-track {
  height: 500px;
}

.slick-next, .slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  background: #334926;
  z-index: 2;
}

.slick-next {
  right: 30px;
}

.slick-prev {
  left: 30px;
}

.slick-prev:before {
    content: '<';
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    color: white;
    z-index: 100;
    transform: rotate(135deg);
}

.slick-next:after {
    content: '>';
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    color: white;
    z-index: 100;
}  

.slick-next:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.slick-prev:after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}*/

.slick_slide {
  background-size: cover;
  background-image: url('../images/hero.png');
  background-position: center;
}

div.container {
  max-width: 1100px;
  width: 85%;
  margin: auto;
  padding: 100px 0;
  padding-top: 50px;
}

.home-section {
overflow: hidden;
}

h1 {
  max-width: 1400px;
  width: 85%;
  margin: auto;
  margin-top: 100px;
  font-size: 28px;
  padding-bottom: 19px;
  border-bottom: 2px solid #1e481d;
}

h2 {
  font-size: 20px;
  margin-top: 50px;
  width: 100%;
}

div.container p {
  width: 100%;
}

.no_top_margin {
  margin-top: 0;
}

.left {
  width: 70%;
    float: left;
    margin-right: 5%;
}

aside {
  width: 25%;
    float: left;
}

.bordered {
  padding: 30px 20px;
  border-top: 2px solid #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
  margin-top: 70px;
  text-align: center;
  color: #324A25;
  margin-bottom: 50px;
}

.contact_grey {
    background: #f7f7f7;
    padding: 50px 0;
    text-align: center;
}

.contact_grey a {
  margin: 0 5px;
}

.home_photos img {
  margin-bottom: 20px;
  max-width: 100%;
}

.contact_text {
  margin-top: 70px;
}

/*===============  FOOTER   ====================*/

footer {
  background-color: #324A25;
  padding: 20px;
  text-align: center;
}

footer p {
  color: #ffffff57;
  margin: 0;
  margin-top: 20px;
  font-size: 13px;
  font-weight: lighter;

}


footer ul#nav  {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: auto;
  flex-wrap: wrap;
}

footer ul#nav li a {
  color: white;
  font-weight: 500;
  display: inline-block;
  /*margin-right: 50px;*/
  font-size: 12px;
  transition: font-size .5s;
  text-decoration: none;
    text-transform: uppercase;
}
footer ul#nav li {
    display: inline-block;
}
footer a:hover {
  transform: scale(1.02);
}




/*===============  RENTALS   ====================*/
.rentals_hero {
  background-image: url('../images/rentals_hero.png');
  background-size: cover;
  background-position: center bottom;
}

.rentals {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/*===============  RENTALS   ====================*/

.floor_plans {
  width: 100%;
  height: 470px;
  position: relative;
  text-align: center;
}

.floor_plan {
  background: white;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  bottom: 50px;
  display: none;
}

.floor_plans .floor_plan:first-child {
  display: block;
}

.floor_plan img {
  max-height: 400px;
  max-width: 80%;
}

.floor_choices {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: auto;
  transition: opacity .3s;
}

.active {
  opacity: 1 !important;
  transition: opacity .3s;
}

.floor_choice {
  cursor: pointer;
  opacity: .3;
  margin-bottom: 15px;
}

.floor_choice img {
  height: 80px;
  margin: 0 10px;
}




/*===============  PICTURES   ====================*/
.pic_holder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 20px;
}
.psgal {
    margin-left: 0 !important;
}
.pic {
  width: 22%;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}

.pic_holder .pic:nth-child(4n) {
  margin-right: 0;
}

.pic_holder img {
  width: 100%;
}

.overlay {
  height: 98%;
  width: 100%;
  position: absolute;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background-color: #324a25c7;
  transition: opacity .1s;
  cursor: pointer;
}

.overlay h3 {
  color: white;
  margin: 0;
  font-weight: 400;
  text-align: center;
}

.button {
  background-color: #334926;
  padding: 15px 30px;
  color: white;
  margin: auto;
  font-size: 15px;
  font-weight: bold;
  margin: auto;
  margin-top: 50px;
  cursor: pointer;
}




/*===============  LOCATION   ====================*/
iframe {  
  margin: auto;
  margin-top: 30px;
  display: block;
}

.center {
  text-align: center;
}

.location {
  text-align: center;
}

.location h2 {
  margin-bottom: 40px;
}

.location p {
  margin-bottom: 7px;
  margin-top: 7px;
}




/*===============  CONTACT   ====================*/
.contact_holder {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 50px;
}

.contact_info {
  width: 30%;
  text-align: center;
}

.contact input {
  padding: 10px;
     margin-top: 5px;
    margin-bottom: 5px;
  width: 40%;
  font-size: 13px;
  outline: none;
  border: 1px solid #0000004d;
}
.contact textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  width: 40%;
  font-size: 13px;
  outline: none;
  border: 1px solid #0000004d;
}

.contact form {
  margin-top: 44px;
  max-width: 1000px;
    margin-left:auto;
    margin-right: auto;
}

.contact form label {
  margin-bottom: 8px;
    text-align: left;
}

.contact input::placeholder {
  opacity: .5;
}

input.button {
  background-color: #334926;
  width: auto;
  padding: 15px 30px;
  display: block;
  margin: 0;
  margin-top: 20px;
}
.contact input[type="submit"] {
      background-color: #334926;
  width: 40%;
  padding: 15px 30px;
  display: block;
  margin: 0 auto;
    color:#fff;
    text-transform: uppercase;
    border-radius: 0;
}
.contact_form {
    width:100%;
    text-align: center;
}


/*===============  RESPONSIVENESS   ====================*/
@media  ( max-width: 1000px ) {
  header #header-nav a {
    font-size: 13px;
  }

  header #header-nav {
    width: 62%;
    top: 102px;
  }

  .header_top p {
    font-size: 10px;
  }

  .left {
    width: 100%;
  }

  aside {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
  }

  aside img {
    margin-left: 20px;
    margin-right: 20px;
  }

  .pic {
    width: 30%;
    margin-right: 20px;
  }

  .pic_holder .pic:nth-child(4n) {
    margin-right: 20px;
  }

  .pic_holder .pic:nth-child(3n) {
    margin-right: 0;
  }
}


@media  ( max-width: 800px ) {  

  footer nav a {
    width: 100%;
    margin-bottom: 15px;
  }

  header {
    border-top: 5px solid #334926;
  }

  header nav {
    display: none;
  }

  #hamburger {
    display: block;
    top: 48px;
  }

  .header_top {
    display: none;
  }

  .floor_plans {
    height: auto;
    margin-bottom: 50px;
  }

  .floor_plan {
    position: relative;
    bottom: auto;
  }

  .floor_plan img {
    max-width: 100%;
  }

  iframe {
    width: 100%;
  }

  .contact_info {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }

  .contact input {
    margin-bottom: 10px;
    width: 93%;
    margin-right: 0 !important;
  }
}



@media  ( max-width: 600px ) {  
  .pic {
    width: 45%;
    margin-right: 0 !important;
  }

  .pic_holder {
    justify-content: space-around;
  }
    div.container h2 {
        text-align: center;
    }
    .psgal {
        margin: 0 auto !important;
    }
    .home_hero {
        background-position: center center;
    }
    .hero {
        height: 125px;
    }
    .body_content {
        padding-top: 131px;
    }
    h1 {
        margin-top: 60px;
    }
}



@media  ( min-width: 800px ) {  
  .header_dropdown {
    display: none !important;
  }

}
